body {
  font-family: sans-serif;
  margin: 0;
  background-color: black;
  background-image: url(images/StarSky.jpg);
  color:#fff;
  padding:35px;
}

a {
  color: White;
  text-decoration: none;
  display: block;
}

h2 {
  color: White;
  padding:10px;
}


ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

a:hover {
  color: #565656;
}







.Blue {
  background-color: Blue!important;

}

.Red{
  background-color: Red!important;

}

.Yellow{
  background-color: Yellow!important;

}

.Green{
  background-color: Green!important;
}

.Orange{
  background-color: Orange!important;
}

.Purple{
    background-color: Purple!important;
}

.Teal{
    background-color: Teal!important;
}




.switch-field {
  font-family: "Lucida Grande", Tahoma, Verdana, sans-serif;
  padding: 40px;
  overflow: hidden;
}

.switch-title {
  margin-bottom: 6px;
}

.DataForm {
    width: 720px;
    background-color:#000;
    border:2px solid #fff;
    padding: 5px;
    margin:30px 0px;
}

.Component {
  padding: 2%;
  color: White;
}

span {
    background: rgba(0,0,0,.8);
    padding: 2px 8px;
}

input[type=radio] {
    position: absolute;
    z-index: 10;
    width: 82px;
    height: 28px;
    opacity: 0;
}


input[type="text"]{
  border-radius: 12px;
  padding: 4px;
  margin-left: 23px;
  margin-bottom: 16px;
  border:2px solid #fff;
	height: 22px;
	width: 230px;
  background-color:#000;
  color:#fff;
}


input[type="number"]{
  border-radius: 12px;
  padding: 4px;
  margin-left: 23px;
  margin-bottom: 16px;
  border:2px solid #fff;
  height: 22px;
  width: 230px;
  background-color:#000;
  color:#fff;
}

input span{
  background-color:#000;
  opacity:0.8;
  border-radius:0!important;
}

input:focus {
  outline:none;
}

.switch-field label {
  display: inline-block;
  width: 60px;
  height: 20px;

  color: #fff;
  font-size: 14px;
  font-weight: normal;
  text-align: center;
  text-shadow: none;
  padding: 6px 14px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition:    all 0.1s ease-in-out;
  -ms-transition:     all 0.1s ease-in-out;
  -o-transition:      all 0.1s ease-in-out;
  transition:         all 0.1s ease-in-out;
}

.switch-field label:hover {
    cursor: pointer;
}

.switch-field input:checked + label {
  background-color: #e4e4e4!important;
  -webkit-box-shadow: none;q
  box-shadow: none;
  color: #000;
}
